

/* Mobile devices */
@media only screen and (max-width: 767px){
    
    /* Show hide class */
    .m-hide{
        display: none;
    }

    .d-hide{
        display: block;
    }

    /* Hero POV */
    .citrus_instinct__pov
  .citrus_instinct__pov-carousel
  .citrus_instinct__pov-carousel__inner--item
  .content-wrapper__title
  sup {
    font-size: 14px;
    }

    /* Explore Section */
    .citrus_instinct__explore .content-wrapper a {
        min-width: 50%;
    }

    /* Product Scroller */
    .citrus_instinct .splide__arrow{
        display: none;
    }

    .citrus_instinct__Product {
        min-width: 56%;
    }

    /* Transition Section */
    .citrus_instinct__transition-pet-main-flex{
        display: flex;
        flex-wrap: wrap;
    }

    .citrus_instinct__transition-pet-main-flex .transition-pet-right{
        padding: 30px 0;
    }

    .citrus_instinct .transition-number{
        display: block;
    }

    .citrus_instinct .transition-number>span{
        width: 32px;
        display: block;
    }

    /* Benefits Section */
    .citrus_instinct .citrus_instinct_banefits__wrapper--single-item {
        padding: 0 15px;
        min-width: 50%;
    }

    .citrus_instinct .citrus_instinct_banefits .cta-box a{
        text-transform: capitalize;
        background: transparent;
        color: #001952;
        border: none;
        text-decoration: underline;
    }

    .citrus_instinct .citrus_instinct_banefits .cta-box a:hover {
        background: transparent;
        color: #001952;
        transition: none;
    }

}